.bayan {
  max-width: 1920px;
  margin: 0 auto;
  padding: 5% 10%;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: blue;
  transition: 0.3s;
}

h1 {
  color: black;
  font-size: 3rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title-input {
    display: none;
}

.list-item {
  display: flex;
  flex-direction: column-reverse;
}

.item-title {
  padding: 1%;
  cursor: pointer;
}

.title-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    background-color: #f2f2f2;
}

.icon {
  visibility: hidden;
  font-size: 2rem;
  transition: 0.3s;
}

.mem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  background-color: #fff;
}

.mem-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  transition: width 0.3s;
}

img {
  width: 100%;
}

.mem-input {
  visibility: hidden;
  transition: 0.3s;
}
.mem .mem-input:checked + .mem-label {
  width: 35%;
  transition: 0.3s;
}

.list-item:active .icon {
  color: blue;
}

.list-item:active h2 {
  color: blue;
}

@media (max-width: 1920px) {
  .bayan:hover {
    color: black;
    transition: 0.3s;
  }

  .bayan:hover .icon {
    visibility: visible;
    transition: 0.3s;
  }

  .title-label:hover {
    background-color: #e6e6e6;
  }

  .list-item:focus .mem-label,
  .list-item:hover .mem-label {
    width: 35%;
    transition: 0.3s;
  }
  .list-item:hover .icon {
    transform: rotate(-90deg);
    transition: 0.3s;
  }
}

@media (max-width: 820px) {
  .bayan {
    color: black;
    padding: 1%;
  }

  .icon{
    visibility: visible;
  }
  .title-label:hover {
    background-color: #f2f2f2;
  }

  .list-item:focus .mem-label,
  .list-item:hover .mem-label {
    width: 0%;
    transition: 0.3s;
  }
  .list-item:hover .icon {
    transform: rotate(0deg);
    transition: 0.3s;
  }
  .mem .mem-input:checked + .mem-label {
    width: 100%;
    transition: 0.3s;
  }

  /* .list-item:active .mem-label {
    width: 100%;
  } */

  .list-item .title-input:checked ~ .mem .mem-label {
    width: 100%;
    transition: .3s;
  }
}

@media (max-width: 320px) {
  .bayan {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .item-title {
    padding: 0 6%;
  }

  .icon {
    font-size: 1.2rem;
  }

  .mem .mem-input:checked + .mem-label {
    width: 100%;
    transition: 0.3s;
  }
}
